<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen 1 Conv.</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>No se ha encontrado la palabra</h1>
    <form class="form2" method="POST" action="/agregar">
        <input type="text" th:value="${ultPal.palabra}" name="palabra" readonly required/>             
		
        <input type="text" name = "definicion" placeholder="Escribe una descripción para la palabra..." required/><!--
     --><input type="submit" value="Añadir"/>
    </form>


    <div style="text-align: center;">
        <a href="#">Volver a Buscar</a>
    </div>
</body>
</html>